@use "modern-normalize.min.css";

@use "pico" with (
  $theme-color: "violet",
  $enable-semantic-container: true
);

@use "catppuccin/mocha" as *;

#flash-wrapper {
  z-index: 3;
  position: relative;
}

.flash-container {
  padding: 0;
}

.flash-container .flash,
.flash {
  border-radius: 4px;
  clear: both;
  color: #1c2345;
  font-size: 16px;
  margin-bottom: 1em;
  padding: 18px 20px 18px 48px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: left;
  background: #f7f8fa;
  border: 1px solid #e6e9ed;
  position: relative;
}
.flash-container .flash:before,
.flash:before {
  color: #8894a8;
  position: absolute;
  top: 18px;
  left: 18px;
}
.flash-container .flash.notice,
.flash.notice {
  background: $green;
  border-color: $green;
}
.flash-container .flash.notice:before,
.flash.notice:before {
  color: $green;
  content: "✓";
}
.flash-container .flash.warning,
.flash.warning {
  background: $peach;
  border-color: $peach;
}
.flash-container .flash.warning:before,
.flash.warning:before {
  color: $peach;
  content: "❗";
}
.flash-container .flash.error,
.flash.error {
  background: $red;
  border-color: $red;
}
.flash-container .flash.error:before,
.flash.error:before {
  color: $red;
  content: "X";
}